.txt{

    margin-left: 120px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 255, 17);
   

}
.detail{
    margin-top: 70px ;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: stretch;
    
}
img{
    width: 400px;
    height: auto;
    margin-left: 60px;
    border-radius: 50px;
    color-interpolation-filters: sRGB;
}